#accountInfo{
  position: relative;
  background-color: rgba(255,0,0,0.4);
  height: 90vh;
  width: 90%;
  margin-left: 5%;
}

#accountInfo figure{
  width: 30%;
  background-color: green;
  display: inline-block;
  margin-left: 5%;
  margin-top: 1rem;
}

#accountInfo figure img{
  width: 200px;
  height: 200px;
}

#accountInfo #userInfo{
  position: relative;
  display: inline-block;
}


