#accountInfo{
  position: relative;
  height: 90vh;
  width: 90%;
  margin-left: 5%; 
}

#accountInfo #currentData{
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: rgba(0,0,255,0.1);
  height: 85vh;
  width: 100%;
  border-bottom: 2px white solid;
  border-left: 2px white solid;
  border-right: 2px white solid;
}

#accountInfo figure{
  width: auto;
  max-width: 50%;
  display: inline-block;
  margin-left: 5%;
  margin-top: 1rem;
  margin-right: 2rem;
}

#accountInfo figure img{
  width: 250px;
  height: 250px;
  border-radius: 2%;
}

#accountInfo figure figcaption{
  position: relative;
  text-align: center;
}

#accountInfo #userInfo{
  position: relative;
  display: inline-block;
  width: 25%;
  max-width: 50%;
  margin-top: 1rem; 
}

#accountInfo #userInfo p{
  margin-bottom: 1rem;
  padding: 0.5rem;
}

#accountInfo #userInfo button{
  position: relative;
  left: 0.35rem;
  padding: 0.5rem;
  margin-right: 1rem;
}

#accountInfo #editForm {
  box-sizing: border-box;
  position: relative;
  padding-top: 2rem;
  width: 30%;
  max-width: 30%;
  height: 50%;
  border-bottom: 2px white solid;
  border-left: 2px white solid;
  border-right: 2px white solid;
  background-color: rgba(0,0,255,0.2);
  text-align: center;
}

#accountInfo #editForm input {
  margin-bottom: 3px;
  padding: 10px;
  width: auto;
}

#accountInfo #editForm button {
  padding: 10px;
}

#accountInfo #editForm textarea {
  position: relative;
  right: 3px;
  padding: 5px;
}