*{
    margin: 0;
    padding: 0;
};

.homePage{
    position: relative;
    height: 100vh;
    min-height: 100vh;
}

#homeHeader{
    position: relative;
    height: 10vh;
    background-color: rgba(3, 3, 84, 0.9);
    color: white;
    display: flex;
    flex-direction: row;
}

#homeHeader span{
    width: auto;
    padding-left: 1em;
    padding-bottom: 0.3rem;
}

#homeHeader h3{
    position: relative;
    text-align: left;
    padding-top: 1rem;
}

#homeHeader h3:hover{
    cursor: pointer;
    border-bottom: 0.1rem solid white;
}

#homeHeader #statistics{
    position: absolute;
    cursor: default;
    bottom: 0;
}

#homeHeader #navbar{
    position: absolute;
    display: flex;
    flex-direction: row;
    padding-top: 1.5rem;
    right: 1rem;
}

#homeHeader #navbar .links{
    margin-left: 1rem;
    padding-bottom: 0.3rem;
}

#homeHeader #navbar .links:hover{
    border-bottom: 0.1rem solid white;
    cursor: pointer;
}

#content{
    box-sizing: border-box;
    position: relative;
}

#requestsList{
    position: relative;
    max-width: 65%;
    background-color: transparent;
    height: 100%;
    margin-top: 0.5rem;
}

#requestsList #listHeader{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    max-width: 87.5%;
}

#requestsList h2{
    position: relative;
    left: 2rem;
    margin-bottom: 10px;
    padding-top: 0.2rem;
    width: 50%;
}

#requestsList button{
    position: absolute;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    margin-left: 1.5rem;
    text-align: center;
    background-color: #4267b2;
    color: white;
    right: 0;
    margin-top: 0.4rem;
}

#requestsList button:hover {
    background-color: white;
    color: black;
}
#requestsList button:focus{
    outline: 0;
}

#requestCard{
    display: inline-block;
    background-color: rgba(0,0,255,0.1);
    color: black;
    border: 2px solid white;
    max-width: 40%;
    width: 40%;
    margin-bottom: 10px;
    margin-left: 2rem;
};