#requestCard #requestContent{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

#requestCard img{
    position: relative;
    height: 100px;
    width: 100px;
    margin-right: 10px;
    max-height: 100%;
    border-radius: 100%;
    margin-top: 0.3rem;
}

#requestCard #requestInfo{
    padding-top: 0.7rem;
    display: inline-block;
    margin-right: 0.5rem;
}

#requestCard #takeRequest{
    position: relative;
    background-color: #4267b2;
    color: white;
    border-radius: 5px;
    padding: 0.3rem;
    height: 20%;
}

#requestCard #price{
    position: absolute;
    bottom: 0.7rem;
    right: 0.7rem;
}

#requestCard #takeRequest:focus{
    outline: 0;
}